body{
  margin: 0;
  padding: 0;
  font-family: 'Monstserrat', sans-serif;
}

ul {
 list-style: none;
 margin: 0;
 padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

.navbar {
  height: 70px;
  width: 100%;
  background: black;
  color: white;
}

.navbar-nav{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

summary {
    background: #f2f2f2;
    cursor: pointer;
    padding: 15px;
  }

meter{
    width: 300px;
    height: 20px;
}